@import "@material/textfield/mdc-text-field"; 
@import "@material/button/mdc-button";

@font-face{
  font-family: 'PATENTE';
  src: url("/static/resources/fonts/FE.TTF") format("truetype");
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: auto;
    margin: 20px;
  }
  
  .button-container button {
    margin: 3px;
  }

  .username,
.password {
  width: 100%;
  margin: 20px auto;
}

.inputcontainer{
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    width: 400px;
    margin: 30px auto ;
    min-width: 200px;
    background-color: white;
    
}
#imagelogo{
  height: 300px;
  width: 300px;
  margin: auto;
  display: inline-block;
}
@media (max-width: 450px) {
    .inputcontainer{
      width: auto;
    }
  }
.mdc-toolbar__title{
  font-family: 'PATENTE'
}
#splash{
  background-image: url("/static/img/logos/shareparkingimgB.png");
  background-size: contain;
  width: 80%;
  height: 0;
  padding-top: 40%;
  margin: 0 15%;
  background-repeat: no-repeat;
}