{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="ff0000">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static "css/login.css" %}">
    <link rel="stylesheet" href="{% static "css/color.css" %}">
    <title>Login APP</title>
</head>
<body>
    <header class="mdc-toolbar mdc-toolbar--fixed">
        <div class="mdc-toolbar__row">
          <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <span class="mdc-toolbar__title">SPATIUM</span>
          </section>
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
              <a href="{% url "login" %}" class="mdc-top-app-bar__action-item custombaritem" aria-label="My cards" alt="Cards">Login</a>
              <a href="{% url "register" %}"  class="mdc-top-app-bar__action-item custombaritem" aria-label="My cards" alt="Cards">Register</a>
          </section>
        </div>
      </header>
      <main class="mdc-toolbar-fixed-adjust">
        <p class="demo-paragraph">
          
        </p>
      </main>

  <div id="splash"></div>
        <style>
        .custombaritem{
          font-family: 'Roboto';
          margin: auto 30px;
        }
        </style>
    
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="{% static "js/login.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/1.3.4/chroma.min.js"></script>
    <script src="{% static "js/color.js" %}"></script>
</body>
</html>