{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="ff0000">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static "css/login.css" %}">
    <link rel="stylesheet" href="{% static "css/color.css" %}">
    <title>Login APP</title>
</head>
<body>
    <header class="mdc-toolbar mdc-toolbar--fixed">
        <div class="mdc-toolbar__row">
          <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <span class="mdc-toolbar__title">SPATIUM</span>
          </section>
        </div>
      </header>
      <main class="mdc-toolbar-fixed-adjust">
        <p class="demo-paragraph">
          
        </p>
      </main>

  

      <div class="inputcontainer">
        <form action="{% url "iniciar" %}" method="post">
            {% csrf_token %}
            <div id="imagelogo">
              <img style="width: 300px" src="{% static "img/logos/shareparkingimgl.png" %}" alt="">
            </div>

            <div class="mdc-text-field username mdc-text-field--outlined">
              <input type="text" class="mdc-text-field__input" name="telefono" required >
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <label for="tf-outlined" class="mdc-floating-label">Telefono</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </div>

            <div class="mdc-text-field password mdc-text-field--outlined">
              <input type="password" class="mdc-text-field__input" name="password" required minlength="4" >
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <label for="tf-outlined" class="mdc-floating-label">Password</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </div>
        
              <div class="button-container">
                <button type="button" class="mdc-button cancel" type="reset">
                <span class="mdc-button__label">
                  Cancelar
                </span>
                </button>
                <button class="mdc-button mdc-button--raised next" type="submit">
                <span class="mdc-button__label">
                  Login
                </span>
                </button>
            </div>
        </form>
      </div>
      

        
    
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="{% static "js/login.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/1.3.4/chroma.min.js"></script>
    <script src="{% static "js/color.js" %}"></script>
</body>
</html>