

<script src="../static/js/jquery-3.3.1.min.js"></script>
<style>
.lockswitch{
    position: relative;
    margin: 5px;
    height: 30px;
    width: 60px;
    border-radius: 25px;
    background-color: rgb(117, 23, 23);
}
.lockswitch div{
    position: absolute;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    background-color: rgb(216, 216, 215);
    transition: left 100ms;
}
.lockswitch.on div{
    left: 34px;
}
.lockswitch.on{
    background-color: rgb(14, 85, 41)
}
</style>
<div class="lockswitch">
    <div></div>
</div>
<div class="lockswitch">
    <div></div>
</div>
<script>
$('.lockswitch').click(function(){
    $(this).toggleClass('on');
});
</script>

<style>
    .stars{
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 19%;
        background-image: url("../static/img/stars2.svg");
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .front{
        position: absolute;
        height: 100%;
        overflow: hidden;
        background-image: url("../static/img/stars.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="stars">
    <div class="front" style="width: 50%">
    </div>
</div>
<div class="stars">
    <div class="front" style="width: 30%">
    </div>
</div>
<div class="stars">
    <div class="front" style="width: 10%">
    </div>
</div>

<script>
    $('.stars').mousemove(function(evt){
        var posleft = $(this).offset().left;
        var widththis = $(this).width();
        var newwidth = (Math.round(((evt.pageX - posleft)/widththis)*10))*10;
        $(this).children("div").css('width',newwidth+'%');
    })
</script>

