{% load static %}

<div class="mdc-dialog"
          dir="ltr"
          id="opconfirm"
          role="alertdialog"
          aria-modal="true"
          aria-labelledby="my-dialog-title"
          aria-describedby="my-dialog-content">
        <div class="mdc-dialog__container">
          <div class="mdc-dialog__surface">
            <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
            <h2 class="mdc-dialog__title" id="my-dialog-title"><!--
          -->Arrendar<!--
        --></h2>
            <div class="mdc-dialog__content" id="optiontext" dir="ltr">
            </div>
            <footer class="mdc-dialog__actions">
              <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">
                <span class="mdc-button__label">Cancelar</span>
              </button>
              <button type="button" class="mdc-button mdc-dialog__button" onclick="opcontinue()" data-mdc-dialog-action="yes">
                <span class="mdc-button__label">Continuar</span>
              </button>
            </footer>
          </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
      </div>
<script>
    var opdia = document.getElementById('opconfirm');
    var diaop = new mdc.dialog.MDCDialog.attachTo(opdia);
</script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    .mySlides {
        display:none;
        width:100%; 
        height:0;
        padding-top:60%;
    }
    #addimgp{
        position: absolute;
        bottom: -24px;
        right: 24px;
        z-index: 3;
    }

    </style>
    <script>
    idest={{idest}};
    </script>

    <div class="w3-content w3-display-container" dir="ltr">
            {% if im != None %}
                {% for o in im %}

                <div class="mySlides" style="background: url(media/{{o.image}});background-size: cover;background-position: center; "></div>
            
                {% endfor %}
              {% if more %}
                <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
              {% endif %}
            {% else %}
            <div class="mySlides" style="background: url(media/sinimagen.png);background-size: cover;background-position: center; "></div>
            
    
     
            {% endif %}
            {% if is_owner %}
        
        <div id="backgroundfiledrop">
          <div class="file-drop-area">
            <span class="fake-btn">Elegir archivo</span>
            <span class="file-msg">o arrastra y suelta</span>
            <input id="inputimage" class="file-input" type="file" multiple>
          </div>
        </div>
        
        <button id="addimgp" class="mdc-fab app-fab--absolute" onclick="addimagetoparking()" aria-label="Favorite">
          <span id="buttonico" class="mdc-fab__icon material-icons">add</span>
        </button>

        <script>
          var $fileInput = $('.file-input');
          var $droparea = $('.file-drop-area');

          // highlight drag area
          $fileInput.on('dragenter focus click', function() {
            $droparea.addClass('is-active');
          });

          // back to normal state
          $fileInput.on('dragleave blur drop', function() {
            $droparea.removeClass('is-active');
          });

          // change inner text
          $fileInput.on('change', function() {
            var filesCount = $(this)[0].files.length;
            var $textContainer = $(this).prev();

            if (filesCount === 1) {
              // if single file is selected, show file name
              var fileName = $(this).val().split('\\').pop();
              $textContainer.text(fileName);
            } else {
              // otherwise show number of files
              $textContainer.text(filesCount + ' files selected');
            }
          });
        </script>
        <style>
         section {
          flex-grow: 1;
        }
        #backgroundfiledrop{
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          width: 100%;
          height: 0;
          padding-top: 60%;
          background-color: rgb(195, 255, 228);
          display: none;
        }

        .file-drop-area {
          position: absolute;
          top: 25%;
          left:15%;
          display: flex;
          align-items: center;
          height: 50%;
          width: 70%;
          max-width: 70%;
          padding: 25px;
          border: 3px dashed rgba(85, 85, 85, 0.4);
          border-radius: 17px;
          transition: 0.2s;
        }

        .fake-btn {
          flex-shrink: 0;
          background-color: rgba(175, 175, 175, 0.04);
          border: 1px solid rgba(53, 53, 53, 0.1);
          border-radius: 5px;
          padding: 8px 15px;
          margin-right: 10px;
          font-size: 12px;
          text-transform: uppercase;
        }

        .file-msg {
          font-size: small;
          font-weight: 300;
          line-height: 1.4;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .file-input {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          cursor: pointer;
          opacity: 0;
        }
        </style>
        {% endif %}

    </div>

    {% if is_owner %}
    <style>
        .lockswitch{
            position: absolute;
            top: 30px;
            left: 50px;
            height: 30px;
            width: 60px;
            border-radius: 25px;
            background-color: rgb(117, 23, 23);
        }
        .lockswitch div{
            position: absolute;
            height: 22px;
            width: 22px;
            border-radius: 50%;
            top: 4px;
            left: 4px;
            background-color: rgb(216, 216, 215);
            transition: left 100ms;
        }
        .lockswitch.on div{
            left: 34px;
        }
        .lockswitch.on{
            background-color: rgb(14, 85, 41)
        }
        .lockpanel{
          position: relative;
          width: 100%;
          height: 90px;
        }
        </style>
        <div class="lockpanel">
            <div id="lockswitchid" class="lockswitch {% if not locked %}on{% endif %}">
                <div></div>
            </div>
        </div>
        
        

        <script>
            $('.lockswitch').click(function(){
              $.post("/lockparking",{'csrfmiddlewaretoken': csrftoken,'idp':idest},function(data){
                if(data.lock_status){
                  $('#lockquestion').text('desea desbloquear?');
                }
                else{
                  $('#lockquestion').text('desea bloquear?');
                }
                dialock.open();
              })
            });

            function LCKcontinue(){
              $.post("/lockparking",{'csrfmiddlewaretoken': csrftoken,'idp':idest},function(data){
                if(data.lock_status){
                  $.post("/lockparking",{'csrfmiddlewaretoken': csrftoken,'idp':idest,'op':'unlock'},function(data){
                    var featureX = SELECTEDsource.getFeatures()[0];
                    SELECTEDsource.clear();
                    if(data.success){
                      $('#lockswitchid').addClass('on');
                      if(featureX.values_.data.on_use){
                        SELECTEDsource.addFeature(new ol.Feature({
                          type:'parkingSELECT-on_use',
                          data: featureX.values_.data,
                          etiqueta: featureX.values_.data.name,
                          geometry: featureX.getGeometry()
                        }));
                      }
                      else{
                        SELECTEDsource.addFeature(new ol.Feature({
                          type:'parkingSELECT',
                          data: featureX.values_.data,
                          etiqueta: featureX.values_.data.name,
                          geometry: featureX.getGeometry()
                        }));
                      }
                      
                    }
                  })
                }
                else{
                  $.post("/lockparking",{'csrfmiddlewaretoken': csrftoken,'idp':idest,'op':'lock'},function(data){
                    var featureX = SELECTEDsource.getFeatures()[0];
                    SELECTEDsource.clear();
                    if(data.success){
                      $('#lockswitchid').removeClass('on');
                      SELECTEDsource.addFeature(new ol.Feature({
                        type:'parkingSELECT-lock',
                        data: featureX.values_.data,
                        etiqueta: selectedFeature.values_.data.name+' LOCK',
                        geometry: selectedFeature.getGeometry()
                      }));
                    }
                  })
                }
              })
            }
        </script>
    {% else %}
        {% if allowed_this %}
          <style>
            .rentpanel{
              position: relative;
              width: 100%;
              height: 90px;
            }
            #startstop{
              position: absolute;
              top: 15px;
              left: 50px;
              height: 60px;
              width: 240px;
              color: white;
              text-align: center;
              line-height: 60px;
            }
            .start{
              background: #00920c;
            }
            .start:after{
              content: 'Iniciar servicio';
            }
            .stop{
              background: #a70101;
            }
            .stop:after{
              content: 'Detener servicio';
            }
          </style>
          <div class="rentpanel" dir="ltr">
              <div id="startstop" class="{% if myrent %}stop{% else %}start{% endif %}" onclick="rentbutton()" aria-label="Favorite">
              </div>
          </div>
          <script>
            function rentbutton(){
              if($('#startstop').hasClass('start')){
                $('#optiontext').load('/cars');
                diaop.open();
              }
              else{
                if($('#startstop').hasClass('stop')){
                  $('#optiontext').text('desea salir del estacionamiento?');
                  diaop.open();
                }
              }
              
            }
            function opcontinue(){
              if($('#startstop').hasClass('start')){
                $('#startstop').toggleClass('start');
                $('#startstop').toggleClass('stop');
                var auto = $('.select').children('.id').text()
                if($('#startstop').hasClass('stop')){
                  console.log('on rent');
                  console.log(auto);
                  console.log(idest);
                  $('#overmap').load('/parkimetro');
                  $.post("/startservice",{'csrfmiddlewaretoken': csrftoken,'auto':auto,'estacionamiento':idest},function(data){
                    console.log(data);
                      prevop = data.arriendo;
                  })
                }
                else{
                  
                }
              }
              else{
                if($('#startstop').hasClass('stop')){
                  $.post("/stopservice",{'csrfmiddlewaretoken': csrftoken,'arriendo':prevop},function(data){
                    console.log(data);
                      if(data.success){
                        $('#startstop').toggleClass('start');
                        $('#startstop').toggleClass('stop');
                      }
                  })
                }
              }
            }

            
          </script>
        {% endif %}
    {% endif %}

    <style>
      #notacontainer{
        position: relative;
        font-size: 50px;
        color: #ddbd57;
        width: 100%;
        height: 0;
        padding-bottom: 14%;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.507);
        
      }
      .starsprom{
          position: absolute;
          left: 40%;
          top: 10px;
          width: 50%;
          height: 0;
          padding-bottom: 9.5%;
          background-image: url("../static/img/stars2.svg");
          background-repeat: no-repeat;
          background-size: cover;
          
      }
      .frontprom{
          position: absolute;
          height: 100%;
          overflow: hidden;
          background-image: url("../static/img/stars.svg");
          background-repeat: no-repeat;
          background-size: cover;
      }
      #prom{
        position: absolute;
        right: 65%;
        width: 20%;
      }
      .stars{
        position: absolute;
        top: 22px;
        right: 90px;
        width: 40%;
        height: 0;
        padding-bottom: 7.6%;
        background-image: url("../static/img/stars2.svg");
        background-repeat: no-repeat;
        background-size: cover;
      }
      .front{
          position: absolute;
          height: 100%;
          overflow: hidden;
          background-image: url("../static/img/stars.svg");
          background-repeat: no-repeat;
          background-size: cover;
      }
    </style>
    <hr class="mdc-list-divider">
    <div id="notacontainer">
      <div id="prom"> </div>
      <div class="starsprom" dir="ltr">
          <div class="frontprom" style="width: {{nota}}%">
          </div>
      </div>
    </div>
    <hr class="mdc-list-divider">
    
    <script>
      $('#prom').text(parseFloat({{nota}})/20);
    </script>
    
    
    <style>
      #calificaciones{
        width: 100%;
        overflow: auto;
        height: calc(100vh - 540px);
      }
      .opinion{
        position: relative;
        padding: 70px 50px 25px 150px;
        min-height: 120px;
        margin: 5px;
        border-color: rgb(187, 187, 187);
        border-width: 1px;
        border-style: solid;
        border-radius: 5px;
        font-size: .800rem;
      }
      .opinion:hover{
        background: rgba(220, 188, 85, 0.322);
      }
      .imgusercal{
        position: absolute;
        top: 20px;
        left: 50px;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border-color: black;
        border-width: 2px;
        border-style: solid;
        
      }
    </style>

    <div id="calificaciones" dir="ltr">

    </div>

    <script>
       $.post("/qualification",{'csrfmiddlewaretoken': csrftoken,'id':idest,},function(data){
         console.log(data.calificaciones);
          for(const cal of data.calificaciones){
            console.log(cal.nota);
            $('#calificaciones').append($("<div class='opinion'>").html('<div class="imgusercal" style="background: url('+cal.userimage+');background-size: contain;"></div> <div class="stars"><div class="front" style="width: '+cal.nota*10+'%"></div></div> <div class="comentario">'+cal.comentario+'</div>'));
          }
       })
    </script>
    
    <script>
    var slideIndex = 1;
    showDivs(slideIndex);
    
    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function uploadimage(data){
    $.post({url:"/addimageparking",processData: false, contentType: false,data: data,success:function(data){
        console.log(data.success);
        s = data.success;
        if (s){

        }
        else{
            alert(data.reason);
        }
    }});
}

    function addimagetoparking(){
      if($('#buttonico').text() == 'add'){
        $('#backgroundfiledrop').css('display','unset')
        $('#buttonico').text('done');
      }
      else{
        formdata = new FormData();
        if($('#inputimage').prop('files').length > 0)
        {
            file =$('#inputimage').prop('files')[0];
            formdata.append('img', file);
            formdata.append('id', {{idest}});
            formdata.append('csrfmiddlewaretoken', csrftoken);
            uploadimage(formdata);
            $.post("/parkingdetail",{'csrfmiddlewaretoken': csrftoken,'id':{{idest}}},function(data){
            $('#contentdrawer').css('width','500px')
            $('#secondarycontent').empty();
            $('#secondarycontent').append(data);});
        }
        else{
          $('#backgroundfiledrop').css('display','none')
          $('#buttonico').text('add');
        }
        
      }
      
    }
    
    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      x[slideIndex-1].style.display = "block";  
    }
    </script>