{% load static %}
<div id="actualprice" class="actualprice">$123</div>
<div id="parkmeter">
    <img src="static/img/SVG/aguja2.svg" id="aguja" alt="">
    <img src="static/img/SVG/parkimetro2.svg" id="parkimetro" alt="">
    <div id="meterdata"> 12:00</div>
</div>

<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
<script>
    $('#parkmeter').mouseenter(function(){
        console.log('mouseenter');
        $('.actualprice').addClass('actualpriceH');
    });
    $('#parkmeter').mouseleave(function(){
        console.log('mouseleave');
        $('.actualprice').removeClass('actualpriceH')
    });
    var h = '00';
    var m = '00';
    var s = '00';
    function startTime() {
        s++;
        if (s==60){
            s=0;
            m=parseInt(m)+1;
        }
        if (m==60){
            m=0;
            h+parseInt(h)+1;
        }
        var today = new Date();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('actualprice').innerHTML =
        '$'+(Math.trunc(h*60+m/10)).toString();
        document.getElementById('meterdata').innerHTML =
        h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 1000);
    };
    function checkTime(i) {
        if (parseInt(i) < 10) {i = "0" + parseInt(i)};  // add zero in front of numbers < 10
        return i;
    }
    $(document).ready(startTime());
    
</script>
<style>
    
    @font-face{
    font-family: 'DS-DIGIT';
    src: url("../static/resources/fonts/DS-DIGIT.ttf") format("truetype");
    }
    .actualprice{
        position: absolute;
        height: 1.2em;
        width: 202px;
        font-size: 3em;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        font-weight: bolder;
        color: rgb(255, 255, 255);
        -webkit-text-stroke: 1px black;
        text-shadow: 1px 1px 0 rgba(143, 142, 142, 0.562), 2px 2px 1px rgba(143, 142, 142, 0.562), 3px 3px 2px rgba(143, 142, 142, 0.562), 4px 4px 3px rgba(143, 142, 142, 0.562);
        bottom: 120px;
        left: 100px;
        text-align: center;
        padding: 0;
        transition: bottom 300ms ease-in, left 300ms ease-out;
    }
    .actualpriceH{
        bottom: 10px;
        left: 302px;
    }
    #meterdata{
        font-family: 'DS-DIGIT';
        font-size: 35px;
        position: absolute;
        left: 40px;
        top: 130px;
        width: 122px;
        height: 47px;
        line-height: 47px;
        vertical-align: middle;
        text-align: center;
        font-style: italic;
        font-weight: bold;
        animation-name: blink;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    #parkmeter{
        position: absolute;
        bottom: 0px;
        left: 100px;
        height: 110px;
        width: 220px;
        transition: 500ms;
        overflow: hidden;
    }
    #parkmeter:hover{
        height: 300px;
    }     
    #parkimetro{
        position: absolute;
        left: 0;
        top: 0;
        height: 300px;
    }
    #aguja{
        position: absolute;
        left: 26px;
        top: 25px;
        height: 150px;
        animation-name: rotar;
        animation-duration: 60s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    @keyframes rotar {
        0%   {transform: rotate(0deg)}
        50%  {transform: rotate(180deg)}
        100% {transform: rotate(360deg)}
    }
    @keyframes blink {
        0%   {opacity: 1;}
        50%  {opacity: 0;}
        100% {opacity: 1;}
    }
</style>