{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#6200ee">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static "css/register.css" %}">
    <link rel="stylesheet" href="{% static "css/color.css" %}">
    <title>Register APP</title>
</head>
<body>
      <div class="mdc-card step1 unready" id="step1">
        <form id="formanumero">
            {% csrf_token %}
            <img  class="check" src="{% static "img/checked.svg" %}" alt="" onclick="readyshow('1')">
            <img class="uncheck" src="{% static "img/circle1.svg" %}" alt="" onclick="unreadyshow('1')" >

            <div class="mdc-text-field mdc-text-field--outlined">
              <input id="nombre" type="text" class="mdc-text-field__input" name="nombre" onchange='verifyusername(this)' required id="nombre">
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <label for="tf-outlined" class="mdc-floating-label" >Nombre</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
          </div>

          <div class="mdc-text-field mdc-text-field--outlined">
              <input id="apellido" type="text" class="mdc-text-field__input" name="apellido" required id="apellido">
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <label for="tf-outlined" class="mdc-floating-label">Apellido</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
          </div>
        
          <img id="chilean" src="{% static "img/Chilean.svg" %}" alt="" >

            <div id="telefono" class="mdc-text-field mdc-text-field--outlined">
              <input id="teldat" type="text" class="mdc-text-field__input" name="tel" required >
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <label for="tf-outlined" class="mdc-floating-label">Telefono</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </div>
        
              
        </form>
        <div class="button-container">
          <button id="cancel1" type="button" class="mdc-button cancel" type="reset" onclick="cancel1()">
          <span class="mdc-button__label">
            Cancelar
          </span>
          </button>
          <button id="next1" class="mdc-button mdc-button--raised" onclick="step1next('1')">
          <span class="mdc-button__label">
            Registrar
          </span>
          </button>
      </div>
      </div>

      <div class="mdc-card step2 unready lock" id="step2">
          <form id="formacodigo">
              {% csrf_token %}
              <div>
                <h2>Se ha enviado un SMS con un codigo de verificación</h2>
                <h3>Por favor ingreselo a continuación</h3>
              </div>
              
              <br>
  
              <img  class="check" src="{% static "img/checked.svg" %}" alt="" onclick="readyshow('2')">
              <img class="uncheck" src="{% static "img/circle2.svg" %}" alt="" onclick="unreadyshow('2')" >
              <div class="codeinputcontainer">
                <input id="inco1" class="codeinput" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                <input id="inco2" class="codeinput" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                <input id="inco3" class="codeinput" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                <input id="inco4" class="codeinput" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
              </div>
              <div style="text-align: left;">
                <h3 class="actionlabel" onclick="resend()">Reenviar</h3>
              </div>
              
          </form>
          <div class="button-container">
            <button class="mdc-button mdc-button--raised" id="next2" onclick="step2next('2')">
            <span class="mdc-button__label">
              Verificar
            </span>
            </button>
        </div>
        </div>

        <!--<div id="imagelogo">
          <img src="{% static "img/logos/logo6.svg" %}" alt="">
        </div>-->

        <div class="mdc-card extend step3 unready lock" id="step3">
            <form id="formaedit">
                {% csrf_token %}
                
    
                <img  class="check" src="{% static "img/checked.svg" %}" alt="" onclick="readyshow('3')">
                <img class="uncheck" src="{% static "img/circle3.svg" %}" alt="" onclick="unreadyshow('3')" >
    
                <div class="mdc-text-field mdc-text-field--outlined">
                  <input type="text" class="mdc-text-field__input" name="username" required id="username" >
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <label for="tf-outlined" class="mdc-floating-label">Username</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div>

                <div class="mdc-text-field mdc-text-field--outlined">
                  <input type="text" class="mdc-text-field__input" name="correo" required id="correo">
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <label for="tf-outlined" class="mdc-floating-label">Correo</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div>

                <div class="mdc-text-field mdc-text-field--outlined">
                  <input type="password" class="mdc-text-field__input" name="contrasenia" required  id="contrasenia">
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <label for="tf-outlined" class="mdc-floating-label">Password</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div>

                <div class="mdc-text-field mdc-text-field--outlined">
                  <input type="password" class="mdc-text-field__input" name="recontrasenia" required id="recontrasenia">
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <label for="tf-outlined" class="mdc-floating-label">Re ingrese password</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div>

                <div class="mdc-text-field mdc-text-field--outlined">
                  <input type="file" accept="image/*" class="mdc-text-field__input" name="foto" required id="foto">
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <label for="tf-outlined" class="mdc-floating-label">imagen de perfil</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div>

            </form>
            <div class="button- container">
              <button type="button" class="mdc-button cancel" type="reset" onclick="unreadyshow('3')">
              <span class="mdc-button__label">
                Cancelar
              </span>
              </button>
              <button class="mdc-button mdc-button--raised" id="next3" onclick="step3next()">
              <span class="mdc-button__label">
                Registrar
              </span>
              </button>
          </div>
          </div>

          <div id="wel" class="welcome">
            <h2>Bienvenido a SPATIUM</h2><br>
            <h3>Este es nuestro sistema de registro</h3>
            <h3>por favor presiona el paso 1 para comenzar</h3>
          </div>

    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="{% static "js/chroma.min.js"}"></script>
    <script src="{% static "js/color.js" %}"></script>
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/script-validate.js" %}"></script>
    <script src="{% static "js/register.js" %}"></script>
</body>
</html>